
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-vibejam-white text-vibejam-black antialiased font-terminal;
    font-feature-settings: "rlig" 1, "calt" 1;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
